@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0; 
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* .position{
    position: fixed;
    
} */
/* .tep{
    max-width: 1200px;
    
    border: 2px solid crimson;
    margin-left: 80px;
    
} */

.parentnav{
    width: 100%;
    /* height: 6rem; */
    /* border: 2px solid red; */
    background: #c9e8ea;
    position: fixed;
    z-index: 1;
}
.contentcontrol{
    max-width: 1200px;
    /* height: 6rem; */
    /* border: 2px solid green; */
    margin: 0 auto;
}
.content{
    width: 1200px;
    height: 5rem; 
    /* border: 2px solid blue; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5rem;
}
.leftnav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.searchbut{
    /* border: 2px solid gray; */
    width:50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    
}
input{
    height: 3rem;
    width: 60%;
    border-left: none;
    border-right: none;
    opacity: 0.4;
    font-size: 1rem;
    
    
}
.navlinks{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    gap: 2rem;
}
/* .navlinks:hover a li{
    background-color: white;
    color: #3d5a5e;
} */
.Search{
    width: 30%;
    height: 3rem;
    border: none;
    background-color: rgba(17, 14, 14,0.8);
    color: white;
    border-radius: 0 0.3rem 0.3rem 0;
    font-size: 1rem;
    
}
option{
    border-radius: 0.5rem;
}
#find{
    width: 30%;
    height: 3rem;
    background-color: lightgray;
    border-right: none;
    border-radius: 0.3rem 0 0 0.3rem;
    opacity: 0.7;
}
.parentnav1{
    width: 100%;
    height: 4rem;
    /* border: 2px solid red; */
    background-color: #c9e8ea;
    /* position: fixed; */
}
.contentcontrol1{
    max-width: 1200px;
    /* height: 4rem; */
    /* border: 2px solid green; */
    margin: 0 auto;
}
.content1{
    width: 1200px;
    /* height: 4rem; */
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem;

}
.drop{
     border: none;
     background-color: transparent; 
}
.droplist{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}
.getconbut{
    width: 8rem;
    height: 3rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    opacity: 0.6;
}
.but2{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.parentnav2{
    width: 100%;
    height: 35rem;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-image: linear-gradient(0deg,rgba(41, 37, 37,0.7),rgba(0, 0, 37,0.7)), url(products4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
     
}
.contentcontrol2{
    max-width: 1200px;
    height: 35rem; 
    /* border: 2px solid green;  */
    margin: 0 auto;

}
.content2{
    width: 1200px;
    height: 35rem; 
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
.textonright{
    width: 45rem;
    height: 30rem;
    /* border: 2px solid orangered; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2rem;
}
.pline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 20rem;
}
.explorebut{
    width: 30%;
    height: 3.5rem;
    border: none;
    background-color: rgba(17, 14, 14,0.8);
    color: white;
    border-radius: 0.3rem;
    font-size: 1rem;
}
.explorebut:hover{
    background-color: #3d5a5e;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}
.parentcontainer{
    width: 100%;
    height: 45rem;
    /* border: 1px solid red; */
    /* margin: 2rem 0; */
    margin-top: 4rem;
}
.controlcontent{
    margin: 0 auto;
    max-width: 1200px;
    /* height: 20rem; */
    /* border: 1px solid orange; */

}
.maincontent{
    width: 1200px;
    /* height: 70rem; */
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 6rem; 
}
.topimgs{
    
    /* border: 1px solid orangered; */
    border-radius: 50%; 
    width: 10rem;
    
}
 
.circlceimgs{
    width: 100%;
    border-radius: 50%;
    

} 
.firstimg{
    width: 34.7rem;
}
.secondimg{
    width: 100%;
}
.toptext{
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 2px solid #c9e8ea; */
    gap: 0.5rem;
}
.imgcontainer{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    text-align: center;
}
.viewbut{
    width: 8rem;
    height: 3rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background: orangered;
    color: white;
    border: none;
    
}
.viewbut:hover{
    background: lightgray;
    color: orangered;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
    border: black;
}
.down{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2rem;
    background-image: linear-gradient(0deg,rgba(41, 37, 37,0.7),rgba(0, 0, 37,0.7)), url(manicure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    padding: 2rem;
}
.book{
    width: 12rem;
    height: 4rem;
    background: white;
    color: #3d5a5e;
    border: none;
    border-radius: 0.3rem;
}
.book:hover{
    background: #3d5a5e;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}
.blendtext{
    background-image: linear-gradient(to right, orangered,orange);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.topProducts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.card{
    width: 12rem;
    height: 25rem;
    background: #3d5a5e;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* border-radius: 40% 40% 0 0; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
    transition: 0.7s all ease-in-out;
    
}
.card:hover{
    background-color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
    transform: scale(1.08);
}
.text{
   margin-left: 1rem;
   
}
.cardimg{
    width: 100%;
    /* border-radius: 50%; */
    margin-bottom: 2rem;
    
}
.productimg{
    width: 12rem;
    
}
.imgcontrol{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}
.buy{
    display: flex;
    gap: 1rem;
}
.buyp{
    width: 6rem;
    border-radius: 1rem;
    border: none;
    background-color: white;
    color: #3d5a5e;
}
.buyp:hover{
    background-color: #3d5a5e;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}
.shopcontainer{
    background-image: linear-gradient(0deg,rgba(41, 37, 37,0.7),rgba(0, 0, 37,0.7)), url(manicure1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    gap: 2rem;
}
.product{
    
    background-image: linear-gradient(to right,orange,orangered);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.shop{
    width: 12rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    background:white;
}
.shop:hover{
    background: #3d5a5e;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}
.parentcontainer1{
    width: 100%;
    height: 35rem;
    /* border: 1px solid red; */
}
.controlcontent1{
    margin: 0 auto;
    width: 1200px;
    height: 40rem;
    /* border: 1px solid orange; */

}
.maincontent1{
    width: 1200px;
    height: 40rem;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}
.new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}
.imgcontrol1{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.mar{
    margin-top: -2rem;
}
.parentcontainer3{
    width: 100%;
    height: 60rem;
    /* border: 1px solid red; */
    margin: 2rem 0;
}
.controlcontent3{
    margin: 0 auto;
    width: 1200px;
    height: 60rem;
    /* border: 1px solid orange; */
}
.maicontent3{
    width: 1200px;
    height: 60rem;
    /* border: 2px solid green; */
}
.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}
.brandimg{
    width: 100%;
}
.brandcon{
    width: 10rem;
    /* border: 2px solid lightgray; */
}
.bestselling{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .parentcontainer2{
    width: 100%;
    height: 20rem;
    border: 1px solid red;
    background-image: linear-gradient(0deg,rgba(49, 44, 44,0.5),rgba(49, 44, 44,0.5)), url(images\ 18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 0;
   
} */
/* .controlcontent2{
    margin: 0 auto;
    width: 1200px;
    height: 20rem;
    border: 1px solid orange;
}
.maincontent2{
    width: 1200px;
    height: 20rem;
    border: 2px solid green;
} */
.parentcontainer4{
    width: 100%;
    height: 30rem;
    /* border: 1px solid red; */
    margin: 2rem 0;
}
.controlcontent4{
    margin: 0 auto;
    max-width: 1200px;
    height: 30rem;
    /* border: 1px solid orange; */
}
.maincontent4{
    width: 1200px;
    height: 30rem;
    /* border: 2px solid green; */
}
.newsletter{
    margin-top: -5rem;
    display: flex;
    justify-content: left;
    align-items: center; 
    gap: 20rem;
    color: white;
    padding: 5rem;
}
.email{
    position: relative;
    z-index: 1;
}
.subscribe{
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 14rem;
}
.test{
    border: gray;
}
#enter{
    width: 24rem;
    height: 4rem;
    border-radius: 2rem;
    padding: 2rem;
    border: none;
    background: #c9e8ea;
}
#enter:hover{
    border: #3d5a5e;
}
.sub{
    width: 8rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    background-color: #3d5a5e;
    color:  white;
}
.sub:hover{
    background-color: white;
    color: #3d5a5e;
    cursor: pointer;
    transition: 0.5s ease-in-out all;

}
footer{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    gap: 6rem;
    /* border: 2px solid crimson; */
    margin-top: 4rem;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 1rem;
    margin-top: 1rem;
}
.parentcontainer5{
    width: 100%;
    height: 90rem;
    /* border: 1px solid red; */
    margin: 2rem 0;
}
.controlcontent5{
    margin: 0 auto;
    max-width: 1200px;
    height: 90rem;
    /* border: 1px solid orange; */
}
.maincontent5{
    width: 1200px;
    height: 90rem;
}
.parentcontainer6{
    background-image: linear-gradient(0deg,rgba(41, 37, 37,0.7),rgba(0, 0, 37,0.7)), url(products4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
    /* border: 1px solid red; */
}
.controlcontent6{
    margin: 0 auto;
    max-width: 1200px;
    height: 20rem;
    /* border: 1px solid orange; */
}
.maincontent6{
    width: 1200px;
    height: 25rem;
    margin-top: 5rem;
    /* border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem; */
}
.parentcontainer7{
    width: 100%;
    height: 25rem;
}
.controlcontent7{
    margin: 0 auto;
    max-width: 1200px;
}
.icondesign2{
    background: white;
    border: gray;
}
.contact{
    background-color: orangered;
    text-align: center;
    width: 100%;
    height: 6rem;
    line-height: 3rem;
    margin-top: 30rem;
    /* position: fixed;
    z-index: 3; */
}


  




